/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  max-width:800px;
  margin-left: auto;
  margin-right: auto;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

dt {
  font-weight:bold;
  float:left;
  clear:left;
  padding: 2px 4px;  

}
dt::after {
  content: ": "
}
dd {
  float:left;
  margin: 0;
  padding: 2px 4px;  
}

p {
  padding: 10px 10px 10px 10px;
}

br {
  clear:both;
}

/* From https://forum.squarespace.com/topic/29657-how-to-embed-a-google-calendar-in-a-responsive-way/ */
@media (max-width: 550px) {
   .big-container {
       display: none;
   }
}
@media (min-width: 550px) {
   .small-container {
       display: none;
   }
}
/* Responsive iFrame */
.responsive-iframe-container {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px;
   height: 0;
   overflow: hidden;
}
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
